/* ALL HTML FILES */
:root {
  --primary-color: #3e2f2f;
  --secondary-color: #f5efe6;
  --accent-color: #c6a75e;
  --background-color: #faf8f3;
  --text-color: #2b2b2b;
  --border-color: #e8e6e1;
  --font-family: 'cormorant garamond', serif;

}

header {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 20px;
  text-align: center;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
}

section {
  padding: 50px;
}

/* NAVIGATION */
.navigation-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-decoration: none;
  margin: 0 15px;
  font-size: 20px;
  border: var(--border-color);
}

nav a {
  color: var(--secondary-color);
  text-decoration: none;
  margin: 0 15px;
  font-size: 20px;
}

nav a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  transition: width 0.3s;
} 

nav a:hover {
  color: var(--accent-color);
}


/* HOME PAGE */
.welcome-section {
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}

.welcome-section h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

.welcome-section p {
  font-size: 20px;
  line-height: 1.5;
}

/* ABOUT PAGE */

/* PRODUCTS PAGE */
.sidebar {
  width: 200px;
  background-color: var(--secondary-color);
  padding: 20px;
  border: var(--border-color);
}
